.backdrop{
    -fx-background: linear-gradient(to bottom, #b4c7e7 0%, #e7d8c9 100%);
}

.saveBtn{
    -fx-background-color: #0bbc0e;
}


.updateBtn{
    -fx-background-color: #FF9D00;
}


.deleteBtn{
    -fx-background-color: #FF0000;
}

.newBtn{
    -fx-background-color: #10bc21;
}

.clearBtn{
    -fx-background-color: #eacd26;
}

.btnPlaceOrder{
    -fx-background-color: #FF8C00;
}

